/**
 * SPDX-FileCopyrightText: 2026 <Lutz Brückner> <dev@kahuna.rocks>
 * SPDX-License-Identifier: GPL-3-0-or-later
 */

body {
    --nice-font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, 'Helvetica Neue', sans-serif;
    --nice-font-size: 15px;
    --nice-grey-100: #f9fafc;
    --nice-grey-600: #6c6c6e;
    --nice-grey-900: #202020;
    font-size: var(--nice-font-size);
    font-family: var(--nice-font-family);
    color: var(--nice-grey-900);
    background-color: var(--nice-grey-100);
    min-width: 350px;
}

#loading-message {
    max-width: fit-content;
    margin: 30px auto;
    font-weight: bold;
    font-style: italic;
}
#popup-content {
    margin: 10px;
}
h1 {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

button {
    background-color: #2e8945;
    color: var(--nice-grey-100);
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 21px;
    padding: 2px 8px;
    margin-left: 1em;
}
button:hover {
    background-color: #479d5c;
}
button:active {
    background-color: #606c5c;
}

form#switches {
    width: max-content;
    p {
        margin: 4px 0;
    }
    p.gap {
        margin: 12px 0;
    }
    p.indent {
        margin-left: 26px;
    }
    button {
        margin-left: 1em;
    }
    ul {
        margin: 3px 0 7px;
        padding: 0 25px;
    }
    li {
        list-style-type: none;
    }
}

.red {
    color: #d92323;
    font-weight: 500;
}
.green {
    color: #2e8945;
    font-weight: 500;
}
.pulse-grey {
    animation: pulse-grey 2s infinite;
}
@keyframes pulse-grey {
    0% {
        color: var(--nice-grey-900);
    }
    50% {
        color: var(--nice-grey-600);
    }
    100% {
        color: var(--nice-grey-900);
    }
}

.pulse-red {
    animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
    0% {
        background-color: #d92323;
    }
    50% {
        background-color: #ff003c;
    }
    100% {
        background-color: #d92323;
    }
}

div.advice {
    max-width: 500px;
    em {
        font-weight: 600;
        font-style: normal;
    }
    em.center {
        display: block;
        text-align: center;
        margin: 0.8em 0 0.2em;
    }
    p {
        line-height: 1.3;
    }
}
div.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    button {
        background-color: #d92323;
        padding: 10px 30px;
        text-transform: uppercase;
    }
}

h1 div.headline-links {
    display: inline-block;
    position: relative;
    top: 3px;
}
h1 div.headline-bar {
    display: inline-block;
    width: 15px;
    height: 18px;
    border-right: 0.5px solid var(--nice-grey-900);
}
a.github-readme::before {
    content: '';
    display: inline-block;
    mask: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-bulb%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22%20/%3E%3Cpath%20d=%22M3%2012h1m8%20-9v1m8%208h1m-15.4%20-6.4l.7%20.7m12.1%20-.7l-.7%20.7%22%20/%3E%3Cpath%20d=%22M9%2016a5%205%200%201%201%206%200a3.5%203.5%200%200%200%20-1%203a2%202%200%200%201%20-4%200a3.5%203.5%200%200%200%20-1%20-3%22%20/%3E%3Cpath%20d=%22M9.7%2017l4.6%200%22%20/%3E%3C/svg%3E')
        no-repeat center;
    mask-size: contain;
    width: 20px;
    height: 20px;
    background-color: var(--nice-grey-900);
}
